<%= content_for :head do %>
  <script>
    $(function() {
      $('.testimonials-slider').on('init', function() {
        setHeight();
      });

      $('.testimonials-slider').slick({
        infinite: true,
        dots: true,
        arrows: false
      });
    })
  </script>
<% end %>

<div class="internal-hero-banner divorce">
  <h2 class="internal-hero-banner-title">
    In the most difficult of times, you can rely on us
  </h2>

  <%= link_to "#{@presented_service.name}: Supporting Services", '#', class: 'toggle-class supporting-services-toggle', data: { class: 'hide', container: '.supporting-services', return: 'false' }, id: 'supporting-services' %>
</div>

<div class="supporting-services hide">
  <% if @presented_service.department.present? %>
    <div class="row">
      <% @presented_service.department.services.in_groups(3, false).each do |group| %>
        <div class="medium-4 columns">
          <ul class="supporting-services-list">
            <%= render partial: 'services/supporting_service', collection: BaseCollectionPresenter.new(collection: group, view_template: self, presenter: ServicePresenter), as: :service_presenter %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="service-content">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="breadcrumbs">
        <li>
          <%= link_to (image_tag 'components/navigation/small-home.png', alt: 'Home'), root_url, title: 'Home' %>
        </li>
        <li>
          <%= @presented_service.linked_audience %>
        </li>
        <li>
          <%= @presented_service.linked_department %>
        </li>
        <li>
          <%= @presented_service.linked_name %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="medium-7 columns">
      <div class="internal-content">
        <h1><%= @presented_service.name %></h1>

        <%= @presented_service.content %>
      </div>
    </div>

    <div class="medium-5 columns">
      <div class="callback-header">
        <%= image_tag 'components/icons/telephone.png', alt: 'Telephone', class: 'telephone-icon' %>

        <%= global_site_settings['Telephone'] %>
      </div>

      <div class="callback-form">
        <h3>Request a call back</h3>

        <p>
          Simply complete the form below and one of our experts will get back to you.
        </p>

        <%= form_tag '', id: 'callback-form' do %>
          <%= text_field_tag :name, params[:name], placeholder: 'Your name', required: true %>
          <%= text_field_tag :email_address, params[:email_address], placeholder: 'Email address', required: true %>
          <%= text_field_tag :telephone_number, params[:telephone_number], placeholder: 'Telephone number', required: true %>
          <%= select_tag :enquiry_type, options_for_select(Service.displayed.pluck(:name), selected: (params[:enquiry_type] || @presented_service.name)), prompt: 'Select enquiry type', required: true %>
          <div class="callback-form-required-fields">* All fields are required</div>
          <%= submit_tag 'Submit', class: 'callback-form-submit right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="service-resources">
  <%= render 'services/downloads' if @presented_service_downloads.present? %>

  <%= render partial: 'videos/video_focus', object: @presented_service_video, as: :video_presenter if @presented_service_video.present? %>

  <div class="row updates-wrap">
    <div class="row">
      <div class="medium-12 text-center columns">
        <h4>
          Insight / <strong><%= @presented_service.name %></strong>
        </h4>

        <ul class="content-navigation">
          <li id="updates-tab">
            <%= link_to 'Updates', '#updates', class: 'content-navigation-link active', title: 'Search' if @presented_service_articles.present? %>
          </li>

          <li id="faqs-tab">
            <%= link_to 'FAQs', '#faqs', class: 'content-navigation-link', title: 'Expertise' if @service_faqs.present? %>
          </li>

          <li id="case-studies-tab">
            <%= link_to 'Case Studies', '#case-studies', class: 'content-navigation-link', title: 'A-Z' if @presented_service_case_studies.present? %>
          </li>
        </ul>
      </div>
    </div>

    <%= render 'services/articles' if @presented_service_articles.present? %>

    <% if @service_faqs.present? %>
      <div class="frequently-asked-questions content-navigation-content hide" id="faqs">
        <div class="row">
          <% @service_faqs.in_groups(2, false).each do |group| %>
            <div class="medium-6 columns">
              <%= render partial: 'frequently_asked_questions/frequently_asked_question', collection: BaseCollectionPresenter.new(collection: group, view_template: self, presenter: FrequentlyAskedQuestionPresenter), as: :frequently_asked_question_presenter %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render 'services/case_studies' if @presented_service_case_studies.present? %>
  </div>

  <div class="row collapse">
    <%= render 'services/specialisms', service_presenter: @presented_service if @presented_service.specialisms.present? %>

    <% if @presented_service_testimonials.present? %>
      <div class="medium-<%= @presented_service.specialisms.present? ? '6' : '12' %> columns  match-height">
        <div class="testimonials text-center" id="testimonials">
          <div class="testimonials-slider">
            <%= render partial: 'testimonials/testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'services/team_members' if @service_team_members.present? %>

  <div class="row related-services">
    <div class="medium-12 columns">
      <h5>
        We can also help with...
      </h5>

      <ul class="related-services-list" id="related-services">
        <%= render partial: 'services/related_service', collection: @presented_related_services, as: :service_presenter if @presented_related_services.present? %>
      </ul>
    </div>
  </div>
</div>
