<div class="row">
  <div class="medium-3 columns">
    <%= download_presenter.linked_image %>
    <%= download_presenter.download_button %>
  </div>

  <div class="medium-4 columns">
    <div class="download-title">
      <%= download_presenter.title %>
    </div>

    <%= download_presenter.content %>
  </div>

  <div class="medium-2 columns">
    <div class="download-contents-title">
      What you can expect from this guide
    </div>
  </div>

  <div class="medium-3 columns">
    <div class="download-table-of-contents">
      <%= download_presenter.contents_summary %>
    </div>
  </div>
</div>
