<li data-id="<%= tour_entry_presenter.page_area %>" data-options="<%= tour_entry_presenter.joyride_options %>" data-next-page="<%= tour_entry_presenter.next_page %>">
  <h4><%= tour_entry_presenter.title %></h4>

  <%= tour_entry_presenter.content %>
</li>
