<%= form_for(@download) do |f| %>
<% if @download.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@download.errors.count, "error") %> prohibited this download from being saved:</h2>

    <ul>
      <% @download.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>


  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :download_category_id %><br>
        <%= f.select :download_category_id, DownloadCategory.pluck(:name, :id), prompt: 'Please select'  %>
      </div>
      <div class="field">
        <%= f.label :service_ids, "Services" %><br>
      <%= f.select :service_ids, grouped_options_for_select(Service.includes(:department).group_by(&:department).map{|x| ["#{x[0].name}", x[1].map{|y| [y.name, y.id]}]}, selected: f.object.services.pluck(:id)), {  }, { multiple: true, class: 'multiple-select' } %>
    </div>
            <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary %>
      </div>
            <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>
            <div class="field">
        <%= f.label :contents_summary %><br>
        <%= f.text_area :contents_summary, class: 'tinymce' %>
      </div>

          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
            <%= f.image_field :image %>
            <%= f.document_field :file %>

          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>

          <div class="field">
      <%= f.label :suggested_url %><br>
      <%= f.text_field :suggested_url %>
    </div>

            <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>

            <div class="field">
        <%= f.label :highlight %><br>
        <%= f.check_box :highlight %>
      </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
