<%= render 'optimadmin/shared/header/main_title', title: 'Manage Team Member Roles' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Team Member Role', object: TeamMemberRole, path: new_team_member_role_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @team_member_roles.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">

      <%= list_item 'large-1 hide-for-medium-down' do %>
        <%= link_to octicon('settings') %>
      <% end %>


      <%= list_item 'large-7 small-8' do %>
        Name
      <% end %>




    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item('large-1 hide-for-medium-down text-center last'){ 'Delete' } %>
  </div>

  <!-- <div class='module-sortable' data-module="TeamMemberRole"> -->
  <%= render partial: 'team_member_role', collection: @team_member_roles, as: :team_member_role_presenter %>
  <!-- </div> -->
  <%= paginate @team_member_roles %>
</div>
