<div class="content-categories-sidebar">
  <div class="row collapse">
    <div class="small-8 show-for-medium-down columns">
      <%= link_to octicon('book') + 'Manage Content',
          '#',
          class: 'content-categories-toggle toggle-class',
          data: {
            class: 'content-categories-toggle-visiblity',
            container: '.content-categories, .content-categories-toggle',
            return: 'true'
          } %>
    </div>
    <div class="small-4 show-for-medium-down columns">
      <%= link_to logout_path, class: 'logout-link' do %>
        <%= octicon('sign-in') %> Logout
      <% end %>
    </div>
  </div>

  <div class="row collapse">
    <div class="large-12 small-8 left content-categories columns">
      <div class="content-category-type">
        Manage Your Content
      </div>

      <ul id="modules" class="content-category-list">
        <%= module_link(content: "Frequently Asked Questions", model: FrequentlyAskedQuestion, path: frequently_asked_questions_path) %>
        <%= module_link(model: Testimonial, path: testimonials_path) %>
        <%= module_link(content: "Site Navigation", model: Optimadmin::MenuItem, path: menu_items_path) %>
        <%= module_link(content: "Tour Entries", model: TourEntry, path: tour_entries_path) %>
      </ul>

      <div class="content-category-type">
        Resources
      </div>

      <ul class="content-category-list">
        <%= module_link(model: Video, path: videos_path) %>
        <%= module_link(content: "Video Categories", model: VideoCategory, path: video_categories_path) %>
        <%= module_link(model: Download, path: downloads_path) %>
        <%= module_link(content: "Download Categories", model: DownloadCategory, path: download_categories_path) %>
      </ul>

      <div class="content-category-type">
        Team Members
      </div>

      <ul class="content-category-list">
        <%= module_link(content: "Team Member Roles", model: TeamMemberRole, path: team_member_roles_path) %>
        <%= module_link(content: "Team Members", model: TeamMember, path: team_members_path) %>
      </ul>

      <div class="content-category-type">
        Updates
      </div>

      <ul class="content-category-list">
        <%= module_link(content: "Case Studies", model: CaseStudy, path: case_studies_path) %>
        <%= module_link(content: "Case Study Categories", model: CaseStudyCategory, path: case_study_categories_path) %>
        <%= module_link(model: Article, path: articles_path) %>
        <%= module_link(content: "Article Categories", model: ArticleCategory, path: article_categories_path) %>
      </ul>

      <div class="content-category-type">
        Offices
      </div>

      <ul class="content-category-list">
        <%= module_link(model: Office, path: offices_path) %>
        <%= module_link(content: "Office Locations", model: OfficeLocation, path: office_locations_path) %>
      </ul>

      <div class="content-category-type">
        Services
      </div>

      <ul class="content-category-list">
        <%= module_link(model: Service, path: services_path) %>
        <%= module_link(model: Department, path: departments_path) %>
        <%= module_link(model: Audience, path: audiences_path) %>
      </ul>
    </div>
  </div>
</div>
