<div class="internal-hero-banner divorce">
  <h2 class="internal-hero-banner-title">
    In the most difficult of times, you can rely on us
  </h2>

  <%= link_to 'Family: Supporting Services', '#', class: 'toggle-class supporting-services-toggle', data: { class: 'hide', container: '.supporting-services', return: 'false' } %>
</div>

<div class="supporting-services hide">
  <div class="row">
    <div class="medium-4 columns">
      <ul class="supporting-services-list">
        <li>
          <%= link_to 'A service name', '#', class: 'supporting-services-link' %>
        </li>
        <li>
          <%= link_to 'A service name', '#', class: 'supporting-services-link' %>
        </li>
      </ul>
    </div>

    <div class="medium-4 columns">
      <ul class="supporting-services-list">
        <li>
          <%= link_to 'A service name', '#', class: 'supporting-services-link' %>
        </li>
        <li>
          <%= link_to 'A service name', '#', class: 'supporting-services-link' %>
        </li>
      </ul>
    </div>

    <div class="medium-4 columns">
      <ul class="supporting-services-list">
        <li>
          <%= link_to 'A service name', '#', class: 'supporting-services-link' %>
        </li>
        <li>
          <%= link_to 'A service name', '#', class: 'supporting-services-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="service-content">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="breadcrumbs">
        <li>
          <%= link_to (image_tag 'components/navigation/small-home.png', alt: 'Home'), root_url, title: 'Home' %>
        </li>
        <li>
          <%= link_to 'Personal', '#', title: 'Personal' %>
        </li>
        <li>
          <%= link_to 'Family', '#', title: 'Family' %>
        </li>
        <li>
          <%= link_to 'Divorce & Relationship Breakdown', '#', title: 'Divorce & Relationship Breakdown' %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="medium-7 columns">
      <div class="internal-content">
        <h1>Divorce &amp; Relationship Breakdown</h1>

        <p class="paragraph-highlight">
          If your relationship has broken down and you are facing a divorce or
          separation, you may be feeling anxious, angry and confused.
        </p>

        <p>
          Divorce or relationship breakdown can be a stressful and emotional time.
          You have important decisions to make about your future, your children,
          your finances and maybe even your business.
        </p>

        <p>
          Our divorce and family law solicitors can help you decide what is
          right – personally, legally and financially – for you and your family.
          Independent legal guides recognise us as one of the UK’s leading
          family law teams, so you can be sure you’re in safe hands.
        </p>

        <p>
          We can help not only with divorce and separation, but also with other
          family law issues such as pre-marital agreements, child abduction and
          agreements for couples who live together outside of marriage.
        </p>

        <p>
          Our lawyers are based throughout the country, with offices in
          Birmingham, Bristol, Cambridge, Leeds, London, Manchester, Newcastle,
          Sheffield and Southampton.
        </p>
      </div>
    </div>

    <div class="medium-5 columns">
      <div class="callback-header">
        <%= image_tag 'components/icons/telephone.png', alt: 'Telephone', class: 'telephone-icon' %>

        <%= global_site_settings['Telephone'] %>
      </div>

      <div class="callback-form">
        <h3>Request a call back</h3>

        <p>
          Simply complete the form below and one of our experts will get back to you.
        </p>

        <%= form_tag '' do %>
          <%= text_field_tag :name, params[:name], placeholder: 'Your name', required: true %>
          <%= text_field_tag :email_address, params[:email_address], placeholder: 'Email address', required: true %>
          <%= text_field_tag :telephone_number, params[:telephone_number], placeholder: 'Telephone number', required: true %>
          <%= select_tag :enquiry_type, options_for_select(['Pre-nup', 'Civil Partnership and Same Sex Marriages', 'Financial Settlement'], selected: params[:enquiry_type]), prompt: 'Select enquiry type', required: true %>
          <div class="callback-form-required-fields">* All fields are required</div>
          <%= submit_tag 'Submit', class: 'callback-form-submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
