<%= content_for :head do %>
  <script>
    $(document).ready(function() {
      $('.hero-banner-a-to-z-toggle.inactive').attr('href','#').removeAttr('data-remote');
    })
    $(document).on('click', '.hero-banner-a-to-z-toggle', function() {
      if(!$(this).hasClass('inactive')) {
        $('.hero-banner-a-to-z-toggle').removeClass('active');
        $('#hero-banner-service-list-content').html("<%= j image_tag 'ajax-loader.gif', alt: 'Loading...' %>");
        $(this).addClass('active');
      }
    });
  </script>
<% end %>
<div class="hero-banner">
  <h1 class="hero-banner-text">
    Together for life's ups and downs
  </h1>

  <div class="hero-banner-tagline">
    How can we help?
  </div>

  <div class="hero-banner-widget">
    <ul class="content-navigation">
      <li id="search-tab">
        <%= link_to 'Search', '#hero-banner-search', class: 'content-navigation-link active', title: 'Search' %>
      </li>

      <li id="expertise-tab">
        <%= link_to 'Expertise', '#hero-banner-expertise', class: 'content-navigation-link', title: 'Expertise' %>
      </li>

      <li id="a-to-z-tab">
        <%= link_to 'A-Z', '#hero-banner-a-to-z', class: 'content-navigation-link', title: 'A-Z' %>
      </li>
    </ul>

    <div class="hero-banner-search content-navigation-content" id="hero-banner-search">
      <%= form_tag '', method: :get, id: 'search-box' do %>
        <%= text_field_tag :search, nil, placeholder: 'Search here...', class: 'hero-banner-search-text' %>
        <%= submit_tag 'Search', class: 'invalid-link' %>
      <% end %>
    </div>

    <div class="hero-banner-expertise content-navigation-content hide" id="hero-banner-expertise">
      <div class="row">
        <%= render partial: 'departments/hero_expertise_department', collection: @presented_audiences, as: :audience_presenter %>
      </div>
    </div>

    <div class="hero-banner-a-to-z  content-navigation-content hide" id="hero-banner-a-to-z">
      <ul class="hero-banner-letter-list">
        <% ('a'..'z').each do |letter| %>
          <li><%= link_to letter, alpabetical_list_services_path(letter: letter), remote: true, class: "hero-banner-a-to-z-toggle #{'inactive' unless @presented_a_to_z_group[letter].present?}" %>
        <% end %>
      </ul>

      <div class="row">
        <div class="small-12 columns">
          <div class="hero-banner-service-list">
            <div class="row" id="hero-banner-service-list-content">
              <%= render partial: 'departments/hero_atoz_department', collection: @presented_a_to_z, as: :audience_presenter %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pre-footer-section">
  <div class="row">
    <div class="small-4 columns">
      <div class="pre-footer-header">
        Find us on:
      </div>

      <%= link_to global_site_settings['Twitter'], title: 'Twitter' do %>
        <%= image_tag 'components/icons/twitter.png', alt: 'Twitter' %>
      <% end %>

      <%= link_to global_site_settings['Facebook'], title: 'Facebook' do %>
        <%= image_tag 'components/icons/facebook.png', alt: 'Facebook' %>
      <% end %>

      <%= link_to global_site_settings['LinkedIn'], title: 'LinkedIn' do %>
        <%= image_tag 'components/icons/linkedin.png', alt: 'LinkedIn' %>
      <% end %>
    </div>

    <div class="small-4 columns">
      <div class="pre-footer-header">
        Local to you
      </div>

      <%= link_to '#', title: 'Local to you' do %>
        <%= image_tag 'components/icons/map-pin.png', alt: 'Local to you' %>
      <% end %>
    </div>

    <div class="small-4 columns">
      <div class="pre-footer-header">
        Talk to us
      </div>

      <%= link_to '#', class: 'modal-toggle', title: 'Talk to us', data: { container: '.talk-to-us-modal', return: 'false' } do %>
        <%= image_tag 'components/icons/talk-icon.png', alt: 'Talk to us' %>
      <% end %>
    </div>
  </div>
</div>
