<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= office_location_presenter.id %>">



    <div class="large-8 small-8 columns" data-equalizer-watch="module-list">

    <%= office_location_presenter.toggle_title %>
  </div>



  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= office_location_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= office_location_presenter.view_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= office_location_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= office_location_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= office_location_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= office_location_presenter.optimadmin_summary %>
    </div>
  </div>
</div>
