<footer class="primary-footer">
  <div class="row">
    <div class="medium-12 columns">
      <ul>
        <li>
          <%= nested_menu_items(menu_items: @footer_menu.menu_items) %>
        </li>
      </ul>

      <p>
        May Williams LLP (registered in England and Wales OC123456) is authorised
        and regulated by the Solicitors Regulation Authority (number 5222333).
        Our registered office is No. 1 London Bridge, London, SE1 9BG.
        The term ‘partner’ is used to refer to a member of the partnership or to an
        employee of equivalent standing and qualifications. May Williams LLP
        provides its services subject to its Terms of Business, a copy of which is
        available on request.
      </p>
    </div>
  </div>
</footer>

<div class="sticky-tab" id="fixed-talk-to-us">
  <%= link_to '#', class: 'modal-toggle', title: 'Talk to us', data: { container: '.talk-to-us-modal', return: 'false' } do %>
    <%= image_tag 'components/icons/talk-icon.png', alt: 'Talk to us' %>
    <div class="text">Talk to us</div>
  <% end %>
</div>

<%= render 'shared/talk_to_us' %>

<% if @presented_tour_entries.present? %>
  <ol class="joyride-list" data-joyride>
    <%= render partial: 'tour_entries/tour_entry', collection: @presented_tour_entries, as: :tour_entry_presenter %>
  </ol>

  <div class="tour-prompt hide">
    <div class="inner">
      <% # TODO: Make this dynamic %>
      <div class="title"><%= @presented_tour_prompt.title %></div>
      <%= @presented_tour_prompt.content %>

      <div>
        <%= link_to 'Take a tour now', '#', class: 'tour-button' %>
      </div>

      <%= link_to 'Close', '#', class: 'dismiss-tour right' %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'components/tour.js' %>
